html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  padding: 4px 24px;
  background-color: lightgreen;
  color: gray;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin: 8px;
  cursor: pointer;
}
h1 {
  font-size: 20px;
}

.answer-list {
  padding: 0;
  display: flex;
  list-style: none;
}

.input-container {
  background-color: lightgray;
  padding: 2rem;
}

.input-name {
  margin-bottom: 18px;
  input {
    width: 100%;
    padding: 4px;
    font-size: 20px;
  }
}

.input-porto {
  margin-bottom: 18px;
  select {
    width: 100%;
    padding: 4px;
    font-size: 20px;
  }
  option {
    padding: 4px;
  }
}

.input-role {
  padding-bottom: 18px;
  select {
    width: 100%;
    padding: 4px;
    font-size: 20px;
  }
  option {
    padding: 4px;
  }
}

.member-list {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  border-collapse: collapse;
  width: 80%;
  // height: 40%;
  overflow: scroll;
  // background-color: aqua;
  tbody {
    height: 100%;
    overflow: scroll;
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-end;
  }
  tr {
    width: 100%;
    border: solid 1px #3c72ab;
    background-color: #1a4899;
    color: #fff;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    display: none;
  }
  th{
    &:nth-of-type(1){
      width: 6%;
    }
    &:nth-of-type(2){
      width: 25%;
    }
    &:nth-of-type(3){
      width: 20%;
    }
    &:nth-of-type(4){
      width: 30%;
    }
    &:nth-of-type(5){
      width: 15%;
    }
  }
  td {
    margin: 2px 0;
    padding: 4px;
    list-style: none;
    // border: solid 1px;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    &:nth-of-type(1){
      width: 6%;
      background: #2157bf;
      border-radius: 8px;
      margin: 2px;
    }
    &:nth-of-type(2){
      width: 25%;
    }
    &:nth-of-type(3){
      width: 20%;
    }
    &:nth-of-type(4){
      width: 30%;
    }
    &:nth-of-type(5){
      width: 15%;
      background: #eded50;
      color: #0d42a1;
      font-weight: bold;
      border-radius: 8px;
      margin: 2px;
    }
  }

  &-wrapper {
    overflow: scroll;
    width: 90%;
    max-height: 100%;
  }
}
